<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Budget hantering</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"/>
</head>
<body>
<img src="../static/img/piggybank.jpg" th:src="'/img/piggybank.jpg'"
     height="100" width="175" alt="Spargris"/>
<button type="button" onClick="location.href='/homepage.html'">Tillbaka till startsidan</button>
<button type="button" onClick="location.href='/login.html'">Logga ut</button>
<h1>Skapa din budget</h1>
<div th:if="${income == null}">
    <h3>Fyll i din inkomst</h3>
    <form action="/budget" method="post">
        <div class="form-group">
            <label>Summa:</label>
            <input type="text" name="income"/>
            <input type="submit" value="Lägg till"/>
        </div>
    </form>
</div>

<h4 th:if="${income != null} " th:text="'Du har: ' + ${income} + ' kr'"></h4>

<div th:if="${income != null}">
    <h3>Dela upp din inkomst i budgetkategorier</h3>
    <form action="/budget" method="post">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Kategori</th>
                <th scope="col">Summa</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Entry : ${budgettable}">
                <th scope="row"><label th:text="${Entry.key}"></label></th>
                <td> <input type="text" name="partsum" th:value="${Entry.value}"/></td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="Lägg till alla"/>
    </form>
</div>

<h4 th:if="${partsum != null} " th:text="'Du har: ' + ${partsum} + ' kr'"></h4>

</body>
</html>