<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Budget hantering</title>
</head>
<body>
<img src="..\src\main\resources\img\piggybank.jpg" height="170" width="259" alt="Spargris"/>
<h1>Skapa din budget</h1>
<div th:if="${income == null}">
    <h3>Fyll i din inkomst</h3>
    <form action="/budget" method="post">
        <div class="form-group">
            <label>Summa:</label>
            <input type="text" name="income"/>
            <input type="submit" value="Lägg till"/>
        </div>
    </form>
</div>

<h4 th:if="${income != null} " th:text="'Du har: ' + ${income} + ' kr'"></h4>

<div th:if="${income != null}">
    <h3>Dela upp din inkomst i budgetkategorier</h3>
    <form action="/budget" method="post">
        <div class="form-group">
            <select>
                <option th:each="Category : ${Categories}" th:value="${Category}" th:text="${Category}"></option>
            </select>
            <label>Summa:</label>
            <input type="text" name="partsum"/>
            <input type="submit" value="Lägg till"/>
        </div>
    </form>
</div>

<h4 th:if="${partsum != null} " th:text="'Du har: ' + ${partsum} + ' kr'"></h4>

</body>
</html>