<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <meta charset="UTF-8"/>
    <title>homepage</title>
</head>
<body>
<h1 th:text="'Välkommen' + ${name} + 'till Spargrisen'"></h1>
<img src="..\src\main\resources\img\piggybank.jpg" height="340" width="519" alt="Spargris"/>

<div>
    <form action="/" method="post">
        Kategori: <select>
            <option value="Boende">Boende</option>
            <option value="Transport">Transport</option>
            <option value="Shopping">Shopping</option>
            <option value="Livsmedel">Livsmedel</option>
        </select>
        Summa: <input name="text" type="text"/>
        <input type="hidden" name="Id" th:value="${blog.id}"/>
        <input type="hidden" name="postId" th:value="${post.id}"/>
        <input type="submit" value="Lägg till"/>
    </form>
    <h2></h2>

    <table style="width:100%">
        <tr>
            <th>Kategorier</th>
            <th>Summa</th>
            <th>Spenderat</th>
            <th>Saldo</th>
            <th>Statusemoji</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
</body>
</html>