<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"/>
    <meta charset="UTF-8"/>
    <title>homepage</title>
</head>
<body>
<div class="container">
    <header>
        <div class="row bg-success text-white d-flex align-items-end">
            <div class="col-2">
                <img src="../static/img/piggybank.jpg" th:src="'/img/piggybank.jpg'"
                     height="100" width="175" alt="Spargris"/>
            </div>
            <div class="col-8">
                <h1>Spargrisen</h1>
                <h2>Håller koll på din budget</h2>
            </div>
            <div class="col-2">
                <p th:text="'Hej ' + ${user_name} + '!'"></p>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex flex-row-reverse col-12">
                <button class="p-2 btn btn-light" type="button" onClick="location.href='/logout'">Logga ut</button>
                <button class="p-2 btn btn-light" type="button" onClick="location.href='/budget'">Skapa budget</button>
            </nav>
        </div>
    </header>
    <section>
        <div class="row mt-2">
            <div id="right-column" class="col-sm-4">
                <h2>Budget</h2>
                <div style="height: 400px; overflow-y: scroll; overflow-x: visible;">
                <table class="table">
                        <thead>
                        <th scope="col">Kategori</th>
                        <th scope="col">Summa</th>
                        <th scope="col">Status</th>
                        </thead>
                        <tbody>
                        <tr th:each="Budget : ${budgets}">
                            <td th:text="${Budget.getCategory_description()}"></td>
                            <td th:text="${Budget.getAmmount()}"></td>
                            <td th:text="${Budget.getAmmount()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <form action="/homepage/chooseBudgetDate" method="post">
                    <div class="form-group row">
                        <div class="col-sm">
                            <label>ÅR</label>
                            <input name="budgetYear" type="number" min="2018" max="2050" th:value="${chosenBudgetDate.getYear()}" class="form-control"/>
                        </div>
                        <div class="col-sm">
                            <label>MÅNAD</label>
                            <select name="budgetMonth" class="form-control">
                                <option th:selected="${chosenBudgetDate.getMonth().toString().equals('JANUARY')}" value="01">Januari</option>
                                <option th:selected="${chosenBudgetDate.getMonth().toString().equals('FEBRUARY')}" value="02">Februari</option>
                                <option th:selected="${chosenBudgetDate.getMonth().toString().equals('MARCH')}" value="03">Mars</option>
                                <option th:selected="${chosenBudgetDate.getMonth().toString().equals('APRIL')}" value="04">April</option>
                                <option th:selected="${chosenBudgetDate.getMonth().toString().equals('MAY')}" value="05">Maj</option>
                                <option th:selected="${chosenBudgetDate.getMonth().toString().equals('JUNE')}" value="06">Juni</option>
                                <option th:selected="${chosenBudgetDate.getMonth().toString().equals('JULY')}" value="07">Juli</option>
                                <option th:selected="${chosenBudgetDate.getMonth().toString().equals('AUGUST')}" value="08">Augusti</option>
                                <option th:selected="${chosenBudgetDate.getMonth().toString().equals('SEPTEMBER')}" value="09">September</option>
                                <option th:selected="${chosenBudgetDate.getMonth().toString().equals('OCTOBER')}" value="10">Oktober</option>
                                <option th:selected="${chosenBudgetDate.getMonth().toString().equals('NOVEMBER')}" value="11">November</option>
                                <option th:selected="${chosenBudgetDate.getMonth().toString().equals('DECEMBER')}" value="12">December</option>
                            </select>
                        </div>
                        <div class="col-sm">
                            <button type="submit">Välj</button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="left-column" class="col-sm-8">
                <h2>Transaktioner</h2>

                <div style="height:400px; overflow-y: scroll; overflow-x: visible;">

                    <table class="table">
                        <thead>
                        <th scope="col">Datum</th>
                        <th scope="col">Kategori</th>
                        <th scope="col">Summa</th>
                        <th scope="col">Anteckningar</th>
                        <th></th>
                        </thead>
                        <tbody>
                        <tr th:each="Transaction : ${transactions}">
                            <td th:text="${Transaction.getTransaction_date()}"></td>
                            <td th:text="${Transaction.getCategory_description()}"></td>
                            <td th:text="${Transaction.getAmmount()}"></td>
                            <td th:text="${Transaction.getDescription()}"></td>
                            <td>
                                <button th:value="${Transaction.getTransaction_ID()}" class="btn btn-danger">X</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <form action="/" method="post">
                    <input type="hidden" name="${account.getAccountID}"/>
                    <table class="table">
                        <thead>
                        <th scope="col">
                            <input type="date"/>
                        </th>
                        <th scope="col">
                            <select>
                                <option value="Boende">Boende</option>
                                <option value="Transport">Transport</option>
                                <option value="Shopping">Shopping</option>
                                <option value="Livsmedel">Livsmedel</option>
                            </select>
                        </th>
                        <th scope="col">
                            <input name="ammount" type="number"/>
                        </th>
                        <th scope="col">
                            <input name="description"/>
                        </th>
                        </thead>
                        <tr>
                            <td>
                                <input type="submit" value="Lägg till"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>