<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Spargrisen - Login</title>
</head>
<body>
<div class="container">
    <div class="col-sm-6">
        <div class="box"><p></p></div>
        <div class="jumbotron">
            <h1>SPARGRISEN</h1>
            <h2>login</h2>
        </div>
        <form action="#" method="post">
            <div class="form-group">
                <label>Användarnamn:</label>
                <input type="text" name="inUsername">
                <label>Lösenord:</label>
                <input type="password" name="inPassword">
                <input type="submit" name="btnLogin">
            </div>
        </form>
        <p>Inte registrerad? <a href="" > Registrera dig här </a> </p>
    </div>
</div>
</body>
</html>